In [15]:
import pandas
df = pandas.read_csv("static/month_fatals.csv")

In [16]:
df

    Unnamed: 0  MONTH  FATALS  count
0            0      1       1   1158
1            1      1       2     53
2            2      1       3      5
3            3      2       1    869
4            4      2       2     45
5            5      2       3      7
6            6      2       4      1
7            7      2       6      1
8            8      3       1   1116
9            9      3       2     47
10          10      3       3      8
11          11      3       4      2
12          12      4       1   1127
13          13      4       2     57
14          14      4       3     11
15          15      4       4      2
16          16      4       5      1
17          17      5       1   1286
18          18      5       2     74
19          19      5       3     10
20          20      5       5      1
21          21      6       1   1260
22          22      6       2     72
23          23      6       3      8
24          24      6       4      1
25          25      6       6      1
26          26      7       1   1303
27          27      7       2     60
28          28      7       3     12
29          29      7       4      2
30          30      7       5      1
31          31      8       1   1303
32          32      8       2     92
33          33      8       3     10
34          34      8       4      3
35          35      9       1   1270
36          36      9       2     73
37          37      9       3     10
38          38      9       4      5
39          39      9       5      1
40          40     10       1   1370
41          41     10       2     66
42          42     10       3      5
43          43     10       4      3
44          44     11       1   1238
45          45     11       2     58
46          46     11       3      6
47          47     11       4      1
48          48     11       5      1
49          49     11       6      1
50          50     12       1   1283
51          51     12       2     71
52          52     12       3     13
53          53     12       4      2
54          54     12       5      1

In [34]:
df
df.groupby('MONTH').sum().to_csv("month_fatals.csv")